*{
  margin: 0;
  padding: 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */
.index{
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-w{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 10px 100px;
}
.carwash-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 100px;
}
.index-frase{
  justify-content: center;
  align-items: center;
  padding:  0px 100px 100px 100px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
.servicios{
  background: #ffffff6e url(../img/megane.jpg) no-repeat center center;
  background-size: 100%; 
  z-index: 999;
opacity: 90%;
}
.foto-megane{
  width: 100%;
}
.servicios-title{
  padding: 100px 100px 100px 100px;
  color: whitesmoke;
}
.servicios-wash{
  padding: 100px 100px 100px 100px;
  color: whitesmoke;
}
.servicios-tapi{
  padding: 100px 100px 100px 100px;
  color: whitesmoke;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */
.turnos{
  background: url(../img/sandero.jpg) no-repeat center center ;
  background-size: 100%;
  z-index: 999;
  opacity: 90%;
  
}
.turnos-title{
  padding: 400px 400px 400px 400px;
  color: black;
  border: solid 2px;
  border-radius: 30%;
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */
.nosotros{
  background:url(../img/sw4.jpg) no-repeat center center;
  z-index: 999;
  opacity: 90%;
}
.nosotros-title{
  padding: 400px 400px 400px 400px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
.galeria{
  background: url(../img/a4-engine.jpg) no-repeat center center;
  z-index: 999;
  opacity: 90%;
}
.galeria-title{
  padding: 400px 400px 400px 400px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
.contacto{
  background: url(../img/a3-int.jpg) no-repeat center center;
  background-size: 100%;
  z-index: 999;
  opacity: 90%;
}
.contacto-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-weight: 700;
}
.contacto-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #8a8a8a 0%, #ececec 95%);
  border: solid 2px;
  border-radius: 5%;
  margin-bottom: 40px;
  width: 600px;
  height: 500px;
  box-shadow: 10px 12px 14px -8px black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.boton, .boton--reset, .boton--enviar {
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 80%;
  border: 2px solid rgba(0, 0, 0, 0.801);
  border-radius: 10px;
  transition: all 0.2s;
  width: 65%;
}

.boton--enviar {
  background-color: whitesmoke;
  color: black;
}

.boton--reset {
  background-color: whitesmoke;
  color: black;
}

.divForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  color: white;
  font-size: 110%;
}

.inputForm {
  width: 100%;
  min-height: 40px;
  font-size: 70%;
  text-align: center;
  border-radius: 5%;
  border-color: white;
}