.index{
  display: flex;
}
.index-w{
  justify-content: center;
  align-items: center;

}
.carwash-logo{
  justify-content: center;
  align-items: center;
}
.index-frase{
  justify-content: center;
  align-items: center;
}
.servicios{
  background: #fff url(../img/megane.jpg) no-repeat center center;
  background-size: 100%; 
  
  z-index: 999;
}
.foto-megane{
  width: 100%;
}

.turnos{
  background-color: brown;

}

.nosotros{
  background-color: cadetblue;
}

.contacto{
  background-color: blue;
}