.index{
  display: flex;
}
.index-w{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 10px 100px;
}
.carwash-logo{
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 100px;
}
.index-frase{
  justify-content: center;
  align-items: center;
  padding:  0px 100px 100px 100px;
}
.servicios{
  background: #ffffff6e url(../img/megane.jpg) no-repeat center center;
  background-size: 100%; 
  z-index: 999;
opacity: 80%;
}
.foto-megane{
  width: 100%;
}
.servicios-title{
  padding: 100px 100px 100px 100px;
  color: whitesmoke;
}
.servicios-wash{
  padding: 100px 100px 100px 100px;
  color: whitesmoke;
}
.servicios-tapi{
  padding: 100px 100px 100px 100px;
  color: whitesmoke;
}

.turnos{
  background: url(../img/sandero.jpg) no-repeat center center;
  background-size: 100%;
  z-index: 999;
  opacity: 75%;
}
.turnos-title{
  padding: 400px 400px 400px 400px;
  color: black;
  border: solid 2px;
  border-radius: 30%;
}

.nosotros{
  background-color: cadetblue;
}
.nosotros-title{
  padding: 400px 400px 400px 400px;
}
.contacto{
  background: url(../img/a3-int.jpg) no-repeat center center;
  background-size: 100%;
  z-index: 999;
  opacity: 75%;
}
.contacto-title{
  padding: 400px 400px 400px 400px;
}